{% extends "layout.html" %}
{% block body %}
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 5;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc41h_kWWYnyE3Oz8U2ZeHEoxxsUyh8AY">
    </script>
<script type=text/javascript>
  $(function() {
    $('input#address').bind('keyup', function() {
      $.getJSON($SCRIPT_ROOT + '/_movie-name', {
        movie: $('input[name="movie"]').val()
      }, function(data) {
        var items = [];
        $('div#resultDiv').attr( 'style', 'display:none' );
        $.each(data, function(i, item) {
          items.push("<li><a onclick='codeMovie(\"" + data[i].link + "\", \"" + data[i].value + "\")'>" + data[i].value + "</a></li>");
        });
        $('ul').remove();
        $('<ul/>', { html: items.join("")}).appendTo("div#resultDiv");
        $('div#resultDiv').attr( 'style', 'display:block' );
      });
      return false;
    });
  });
</script>
    <script type="text/javascript">
        var geocoder;
        var map;
	var markers = [];
        function initialize() {
          geocoder = new google.maps.Geocoder();
          var latlng = new google.maps.LatLng(37.7833,-122.4167);
          var mapOptions = {
            zoom: 13,
            center: latlng
          }
          map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        }

        function codeMovie(myLink, movie_name) {
          $('ul').remove();
          $('div#resultDiv').attr( 'style', 'display:none' );
          //alert(movie_name);
          $('input#address').val = movie_name; 
          $.getJSON( myLink, function (data) {
            $.each(data, function(i, item) {
              codeAddress(data[i].locations);
            });
          });
        }

        function codeAddress(address) {
          //alert("Returned the following address: " + address);
          //setAllMap(null);
          markers = [];
          if (address == "") {
          geocoder.geocode( { 'address': address + ' near San Francisco, CA'}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              map.setCenter(results[0].geometry.location);
	      var infowindow = new google.maps.InfoWindow({
                content: address
              });
              var marker = new google.maps.Marker({
                  map: map,
	          animation: google.maps.Animation.DROP,
	          title: address,
                  position: results[0].geometry.location
              });
              google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map,marker);
              });
              markers.push(marker);
            }
          });
        } else {
          geocoder.geocode( { 'address': address }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              map.setCenter(results[0].geometry.location);
	      var infowindow = new google.maps.InfoWindow({
                content: address
              });
              var marker = new google.maps.Marker({
                  map: map,
	          animation: google.maps.Animation.DROP,
	          title: address,
                  position: results[0].geometry.location
              });
              google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map,marker);
              });
              markers.push(marker);
            } 
          });

        }
        }
    
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <input type="text" id="address" name="movie"></input>
    <input type="button" id="auto" value="Search" onclick="codeAddress()"></input>
    <div id="resultDiv" style="display:none">
    </div>
    <div id="map-canvas"></div>
{% endblock %}
